body {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

h1 {
  color: red;
}

h2 {
  color: red;
}

a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: green;
  text-decoration: none;
  font-size:25px;
}