body {
  display: flex;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg,
   #071d97 0%, 
   #0660a2 31%, 
   #e48209 67%, 
   #f95700 95%);
   font-family: sans-serif, Arial, Helvetica, sans-serif;
   justify-content: center;
}

.container {
  text-align: center;
  background-color: white;
  border-radius: 30px;
  padding: 12px;
  min-width: 500px;
  width: 80%;
  align-items: center;
}

ol {
  display: inline-block;
  text-align: left;
}
